<div class="col-sm-4 item">
	<div class="item_image"><%= image_tag p.image(:medium) %></div>
	<div class="item_name"><%= p.id %>. <%= p.name %></div>
	<div class="item_price">Rs. <%= p.rate %></div>
</div>