<div class="row">
	<div class="col-sm-3">
		<h2>Left slide for filters</h2>
	</div>
	<div class="col-sm-9" id="items_container">
		<% @products.each do |p| %>	
			<%= render 'item', p: p %>
		<% end %>
	</div>
	<div class="hide"><%= will_paginate @products %></div>
</div>